[submodule "local/share/nvim/plugged/coc.nvim"]
	path = local/share/nvim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "local/share/nvim/plugged/nvim-treesitter"]
	path = profiles/default/local/share/nvim/plugged/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "coc.nvim"]
	path = submodules/vim/coc.nvim
	url = git@github.com:tokuchan/unidev.git
[submodule "fugitive-gitlab.vim"]
	path = submodules/vim/fugitive-gitlab.vim
	url = git@github.com:tokuchan/unidev.git
[submodule "nvim-treesitter"]
	path = submodules/vim/nvim-treesitter
	url = git@github.com:tokuchan/unidev.git
[submodule "plenary.nvim"]
	path = submodules/vim/plenary.nvim
	url = git@github.com:tokuchan/unidev.git
[submodule "telescope.nvim"]
	path = submodules/vim/telescope.nvim
	url = git@github.com:tokuchan/unidev.git
[submodule "vim-easymotion"]
	path = submodules/vim/vim-easymotion
	url = git@github.com:tokuchan/unidev.git
[submodule "vim-fugitive"]
	path = submodules/vim/vim-fugitive
	url = git@github.com:tokuchan/unidev.git
[submodule "vim-surround"]
	path = submodules/vim/vim-surround
	url = git@github.com:tokuchan/unidev.git
[submodule "which-key.nvim"]
	path = submodules/vim/which-key.nvim
	url = git@github.com:tokuchan/unidev.git
[submodule "profiles/default/home/.emacs.d"]
	path = profiles/default/home/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "profiles/default/home/profiles/default/home/.pyenv"]
	path = profiles/default/home/profiles/default/home/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "profiles/default/home/.pyenv"]
	path = profiles/default/home/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "submodules/neovim"]
	path = submodules/vim/neovim
	url = https://github.com/neovim/neovim
[submodule "submodules/emacs/emacs"]
	path = submodules/emacs/emacs
	url = git://git.savannah.gnu.org/emacs.git
