*.ccache/
*.swo
*.swp
.Xauthority
.bash_history
.env
.lesshst
.nvimlog
.spacemacs.env
.sudo_as_admin_successful
profiles/*/config/fish/fish_variables
profiles/*/home/.bellport/
profiles/*/home/.cache
profiles/*/home/.dbus/
profiles/*/home/.insert-shebang.log
profiles/*/home/.ipython/
profiles/*/home/.npm/
profiles/*/home/.python_history
profiles/*/home/.sqlite_history
profiles/*/home/profiles/
profiles/*/local/bin/activate-global-python-argcomplete
profiles/*/local/bin/pipx
profiles/*/local/bin/python-argcomplete-check-easy-install-script
profiles/*/local/bin/python-argcomplete-tcsh
profiles/*/local/bin/register-python-argcomplete
profiles/*/local/bin/userpath
profiles/*/local/lib/python3.10/site-packages/
profiles/*/local/pipx/
profiles/*/local/share/Trash/
profiles/*/local/share/fish/fish_history
profiles/*/local/share/nvim/
profiles/*/local/share/nvim/shada/main.shada
profiles/*/local/share/virtualenv/
**/fish/generated_completions/**
*.xbel
*.meldcmp
.duckdb_history
breakbulk/emacs/
breakbulk/neovim/
unidev.old/
breakbulk/git/.config/git/gitk
