*.swo
*.swp
.env
.bash_history
.lesshst
.nvimlog
.sudo_as_admin_successful
profiles/*/config/fish/fish_variables
profiles/*/home/.cache
profiles/*/local/lib/python3.10/site-packages/
profiles/*/local/share/fish/fish_history
profiles/*/local/share/nvim/
profiles/*/local/share/nvim/shada/main.shada
*.ccache/
.spacemacs.env
.Xauthority
